[Unit]
Description=Create AP Service
After=network.target

[Service]
Type=simple
ExecStart=/home/john/workSOFT/create_ap/create_ap wlp2s0 ppp0 arch  583334858456y
KillSignal=SIGINT
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
